@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    background-color: #f2f2f2;
}

.page-header {
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
}
.navigation {
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.navigation-user {
    display: flex;
    padding: 0;
    margin: 0;
}
.navigation-logo {
    display: block;
    width: 140px;
    height: 64px;
}
.page-header-logo {
    display: block;
    width: 140px;
    height: 70px;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.catalog-list {
    display: flex;
}
.number-field {
    width: 143px;
    padding-right: 2px;
}
.navigation-list-item,
.navigation-user-item,
.view-item,
.catalog-item,
.social-network-item,
.reasons-item,
.advantages-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.advantages {
    width: 1200px;
}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.advantages-item {
    display: flex;
}
.advantages-item:nth-child(odd) {
flex-grow: 1;
}
.advantages-item:nth-child(even) {
    display: flex;
    width: 400px;
    justify-content: center;
    flex-direction: column;
}
.advantages-item:nth-child(5n+3) {
    display: flex;
    width: 400px;
    justify-content: center;
    flex-direction: column;
}
.drop-down-list {
    padding-right: 70px;
}
.advantages-item h3{
    padding-top: 102px;
    padding-bottom: 62px;
    padding-left: 112.5px;
    padding-right: 112.5px;
}
.advantages-item p{
    padding-top: 0;
    padding-bottom: 102px;
    padding-left: 85px;
    padding-right: 85px;
}
.padding-reasons-item {
    padding: 81px 85px;
}
.advantages-photo-1, .advantages-photo-2 {
    display: block;
    height: 385px;
}
.navigation-link {
    display: block;
    padding: 20px 15px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}

.navigation-link-current {
    display: block;
    padding: 20px 15px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    text-decoration: underline;
}

.likes-number {
    background-color: #7db54f;
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}

.button {
    background-color: #756157;
    color: #ffffff;
    border: none;
    font-weight: 700;
    line-height: 125%;
    font-size: 16px;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 30px;
    display: inline-block;
    cursor: pointer;
    appearance: none;
    outline-offset: 0;
    border-radius: 4px;
}

.button:focus {
    background-color: #615048;
}

.button:hover {
    background-color: #615048;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
}
.desire {
    margin: 12px 0;
}
.search {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
}
.text-field-group {
    padding-top: 0;
    padding-bottom: 104px;
    padding-left: 258px;
    padding-right: 258px;
}
.subscribe {
    font-size: 20px;
    line-height: 180%;
    background-color: #82b3d3;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.subscribe:focus {
    background-color: #68a2ca;
}

.subscribe:hover {
    background-color: #68a2ca;
}

.subscribe:active {
    color: rgba(255, 255, 255, 0.3);
}

.subscribe:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
}

.reset {
    background-color: transparent;
    border: 3px solid transparent;
}

.reset:focus {
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #83b3d3;
}

.reset:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
}

.reset:active {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
}

.reset:disabled {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

.apply {
    background-color: rgba(130, 179, 211, 1);
}
.button-flex {
    display: flex;
    flex-direction: column;
}
.apply:focus {
    background-color: #68a2ca;
}

.apply:hover {
    background-color: #68a2ca;
}

.apply:active {
    background-color: rgba(130, 179, 211, 1);
    color: rgba(255, 255, 255, 0.3);
}

.apply:disabled {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(229, 229, 229, 1);
}


.favourite-card {
    background-color: #82b3d3;
}

.favourite-card:focus {
    background-color: #68a2ca;
}

.favourite-card:hover {
    background-color: #68a2ca;
}

.favourite-card:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82b3d3;
}

.favourite-card:disabled {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(229, 229, 229, 1);
}

.favourite-card-active {
    background-color: #7db54f;
}

.favourite-card-active:focus {
    background-color: #6c9e42;
}

.favourite-card-active:hover {
    background-color: #6c9e42;
}

.favourite-card-active:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #7db54f;
}

.favourite-card-active:disabled {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(229, 229, 229, 1);
}

.advantages p {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;

}

.advantages h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.advantages-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;

}

.advantages-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
}

.advantages-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}


.welcome {
    background-image: url("../images/divider-hero.svg"), url(../images/hero-img.jpg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: center bottom -1px, center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 51px;
    padding-bottom: 82px;
}

.welcome-svg {
    display: block;
    margin: 0 auto;
}


.advantages-list {
    color: #000000;
}



.advantages-item:nth-child(even) {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000;
}

.advantages-item:nth-child(4n+1) {
    background-color: #82b3d3;
    color: #ffffff;
}


.invitation h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.invitation p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.reasons-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.reasons-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.reasons-item {
    color: #000000;
}

.reasons-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}


.reasons-item:nth-child(even) {
    background-color: #ffffff;
}
.reasons-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.best-deal {
    color: #000000;
    text-align: center;
}

.best-deal h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.best-deal p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.mailing {
    background-image: url(../images/Subscribe.jpg);
    color: #ffffff;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mailing-catalog {
    color: #000000;
    background-image: none;
}


.mailing h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
}

.mailing p {
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
}

.phone-number {
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
}

.phone-number:focus {
    color: #756157;
}

.phone-number:hover {
    color: #756157;
}

.phone-number:active {
    color: rgba(117, 97, 87, 0.3);
}



.navigation-link-current:nth-child(3) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    text-decoration: underline;
}

.inner-header {
    background-image: url("../images/filter-catalog.png");
    background-size: cover;
    color: #ffffff;
    border: none;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
}



.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-transform: capitalize;
}

.catalog-filter-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.catalog-choice {
    color: #000000;
}
.catalog-flex {
    display: flex;
    padding-top: 50px;
    padding-bottom: 40px;
}
.catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    padding-right: 200px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    margin: 0;
}
.drop-down-list {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 70px;
}
select {
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
    font-family: inherit;
}

.catalog-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #000000;
}

.card-description,
.card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
}



.rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.catalog-item {
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
}
.pagination {
    display: flex;
    margin: 0;
    padding-left: 70px;
    padding-right: 70px;
    width: 400px;
}
.pagination-item {
    list-style-type: none;
    flex-grow: 1;
    padding-right: 8px;
}

.pagination-link {
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #82b3d3;
    display: block;
    min-width: 60px;
    min-height: 60px;
}

.pagination-link:focus {
    background-color: #68a2ca;
}

.pagination-link:hover {
    background-color: #68a2ca;
}

.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
    color: #000000;
    background-color: #f2f2f2;
    display: block;
    text-align: center;
}

.pagination-link-more {
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    color: #000000;
    background-color: #ffffff;
    display: block;
    text-align: center;
}

a {
    text-decoration: none;
}

.main-inner a:link > .view-item {
    color: #ffffff;
}

.main-inner a:visited > .button-style {
    color: rgb(85, 26, 139);
}



.checkbox-field {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.catalog-filter-group {
    padding-right: 70px;
}
.catalog-filter-group:nth-last-child(1) {
    padding-right: 70px;
}

.catalog-view {
    color: #000000;
}
.catalog-filter-title {
    padding-bottom: 32px;
}
.catalog-filter-item {
    padding-bottom: 16px;
}
.catalog-filter-list li:nth-last-child(1) {
    padding-bottom: 73px;
}
.breadcrumbs {
    display: flex;
    padding-bottom: 40px;
    padding-left: 0;
    margin: 0;
}
.breadcrumbs-item {
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
}
.breadcrumbs-item:nth-child(1) {
    min-width: 13px;
    min-height: 15px;
}
.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    color: #ffffff;
}

.breadcrumbs-link:focus {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}
.inner-header {
    padding-left: 70px;
    padding-top: 35px;
    padding-right: 70px;

}
.inner-header-title {
    padding-right: 635.6px;
    padding-bottom: 8px;
    margin: 0;
    display: block;
}
.container {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;


}

input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.text-field {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 3px solid transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 12px 20px;
}

.text-field-group {
    display: flex;
}

.text-field:focus {
    background-color: rgba(229, 229, 229, 1);
    border: 3px solid rgba(131, 179, 211, 1);
}

.text-field:hover {
    background-color: rgba(229, 229, 229, 1);
}

.text-field::placeholder {
    color: #000000;
    opacity: 0.6;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.catalog-filter-list {
    margin: 0;
    padding: 0;
}
.catalog-filter-item {
    list-style-type: none;
}

.breadcrumbs li:not(:last-child)::after {
    display: inline-block;
    content: ">";
}
.page-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
.catalog-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.social-network-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-top: 45px;
}
.social-network-link {
    display: block;
    min-width: 24px;
    padding-top: 45px;
    padding-bottom: 35px;
    padding-left: 11.67px;
    padding-right: 11.67px;
}
.padding-best-deal {
    padding: 96px 304px;
}
.phone-number {
    display: block;
    padding-top: 40px;
    padding-bottom: 30px;
}
.partner-logo {
    display: flex;
    flex-grow: 0;
}
.partner-logo-link {
    display: block;
    padding-top: 48.5px;
    padding-right: 70px;
}

.padding-mail h2{
    padding-top: 96px;
    padding-bottom: 20px;
    padding-left: 398px;
    padding-right: 398px;
}
.padding-mail p{
    padding-top: 0;
    padding-bottom: 54px;
    padding-left: 362.5px;
    padding-right: 362.5px;
}
.padding-advantages p {
    padding-left: 290px;
    padding-right: 290px;
}
.padding-advantages h2 {
    padding-left: 274.5px;
    padding-right: 274.5px;
}
.padding-reasons h2 {
    padding-left: 347.5px;
    padding-right: 347.5px;
}
.padding-reasons p {
    padding-left: 355px;
    padding-right: 355px;
}
