@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    background-color: #f2f2f2;
}

.navigation-item,
.navigation-user-item,
.view-item,
.catalog-item,
.social-network-item,
.reasons-item,
.advantages-item {
    list-style-type: none;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}

.navigation-link-current {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    text-decoration: underline;
}

.likes-number {
    background-color: #7db54f;
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}

.button {
    background-color: #756157;
    color: #ffffff;
    border: none;
    font-weight: 700;
    line-height: 125%;
    font-size: 16px;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 30px;
    display: inline-block;
    cursor: pointer;
    appearance: none;
    outline-offset: 0;
    border-radius: 4px;
}

.button:focus {
    background-color: #615048;
}

.button:hover {
    background-color: #615048;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
}

.search {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
}

.subscribe {
    font-size: 20px;
    line-height: 180%;
    background-color: #82b3d3;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.subscribe:focus {
    background-color: #68a2ca;
}

.subscribe:hover {
    background-color: #68a2ca;
}

.subscribe:active {
    color: rgba(255, 255, 255, 0.3);
}

.subscribe:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
}

.reset {
    background-color: transparent;
    border: 3px solid transparent;
}

.reset:focus {
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #83b3d3;
}

.reset:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
}

.reset:active {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
}

.reset:disabled {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

.apply {
    background-color: rgba(130, 179, 211, 1);
}

.apply:focus {
    background-color: #68a2ca;
}

.apply:hover {
    background-color: #68a2ca;
}

.apply:active {
    background-color: rgba(130, 179, 211, 1);
    color: rgba(255, 255, 255, 0.3);
}

.apply:disabled {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(229, 229, 229, 1);
}


.favourite-card {
    background-color: #82b3d3;
}

.favourite-card:focus {
    background-color: #68a2ca;
}

.favourite-card:hover {
    background-color: #68a2ca;
}

.favourite-card:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82b3d3;
}

.favourite-card:disabled {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(229, 229, 229, 1);
}

.favourite-card-active {
    background-color: #7db54f;
}

.favourite-card-active:focus {
    background-color: #6c9e42;
}

.favourite-card-active:hover {
    background-color: #6c9e42;
}

.favourite-card-active:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #7db54f;
}

.favourite-card-active:disabled {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(229, 229, 229, 1);
}

.advantages p {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.advantages h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.advantages-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;

}

.advantages-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantages-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.advantages-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.welcome {
    background-image: url("../images/divider-hero.svg"), url(../images/hero-img.jpg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: center bottom -1px, center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 51px;
    padding-bottom: 82px;
}

.welcome-svg {
    display: block;
    margin: 0 auto;
}


.advantages-list {
    color: #000000;
}



.advantages-item:nth-child(even) {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000;
}

.advantages-item:nth-child(4n+1) {
    background-color: #82b3d3;
    color: #ffffff;
}


.invitation h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.invitation p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.reasons-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.reasons-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.reasons-item {
    color: #000000;
}

.reasons-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}


.reasons-item:nth-child(even) {
    background-color: #ffffff;
}

.best-deal {
    color: #000000;
    text-align: center;
}

.best-deal h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.best-deal p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.mailing {
    background-image: url(../images/Subscribe.jpg);
    color: #ffffff;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mailing-catalog {
    color: #000000;
    background-image: none;
}


.mailing h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
}

.mailing p {
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
}

.phone-number {
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
}

.phone-number:focus {
    color: #756157;
}

.phone-number:hover {
    color: #756157;
}

.phone-number:active {
    color: rgba(117, 97, 87, 0.3);
}

.social-network-vk {
    background-image: url("../images/vk.svg");
    border: none;
    background-repeat: no-repeat;
}

.social-network-tg {
    background-image: url("../images/tg.svg");
    border: none;
    background-repeat: no-repeat;
}

.social-network-yt {
    background-image: url("../images/youtube.svg");
    border: none;
    background-repeat: no-repeat;
}


.navigation-link-current:nth-child(3) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    text-decoration: underline;
}

.inner-header {
    background-image: url("../images/catalog-products-photo.png");
    background-size: cover;
    color: #ffffff;
    border: none;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
}



.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-transform: capitalize;
}

.catalog-filter-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.catalog-choice {
    color: #000000;
}

.catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
}

select {
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
    font-family: inherit;
}

.catalog-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #000000;
}

.card-description,
.card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
}



.rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.catalog-item {
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
}

.pagination-item {
    list-style-type: none;
}

.pagination-link {
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #82b3d3;
    display: block;
}

.pagination-link:focus {
    background-color: #68a2ca;
}

.pagination-link:hover {
    background-color: #68a2ca;
}

.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
    color: #000000;
    background-color: #f2f2f2;
    display: block;
    text-align: center;
}

.pagination-link-more {
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    color: #000000;
    background-color: #ffffff;
    display: block;
    text-align: center;
}

a {
    text-decoration: none;
}

.main-inner a:link > .view-item {
    color: #ffffff;
}

.main-inner a:visited > .button-style {
    color: rgb(85, 26, 139);
}



.checkbox-field {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.catalog-view {
    color: #000000;
}

.breadcrumbs-item {
    list-style-type: none;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    color: #ffffff;
}

.breadcrumbs-link:focus {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.container {
    background-color: #ffffff;
}

input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.text-field {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 3px solid transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 12px 20px;
}

.text-field-group {
    display: flex;
}

.text-field:focus {
    background-color: rgba(229, 229, 229, 1);
    border: 3px solid rgba(131, 179, 211, 1);
}

.text-field:hover {
    background-color: rgba(229, 229, 229, 1);
}

.text-field::placeholder {
    color: #000000;
    opacity: 0.6;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%
}

.catalog-filter-item {
    list-style-type: none;
}
